.titre1{
    color: blue;
}
.titre2{
    color: white;
}
.sous-titre1{
color: black !important;
}
.lien{
    color: white;
}
.text-contact{
    color: white !important;
    margin-top: 4%;
    margin-left: 5%;
}
.text-general{
    color: blue;
    margin-top: 4%;
    margin-left: 5%;
}
input,select,textarea{
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: blue;
}
.btn{
    width: 25%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: white;
    color: black;
}
